.transactiondiv{
	float: right;

	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	box-shadow: 3px 3px 3px black;

	width: 400px;
	height: 300px;

	overflow: scroll;

	font-family: Arial;

	font-size: 10px;
}

.svg{
	box-shadow: 3px 3px 5px green;
}

.hide{
	display: none;
}

.hideparent{
	padding: 2px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.hideparent:hover .hide{
	display: block;
}

.bar{
	fill: green;
}

.orangebar{
	fill: orange;
}